body{
    background: rgb(236, 236, 236);
}
table.casess {	
	border-collapse: collapse;
	background: url('../img/jeu/ciel.jpeg');
	margin: auto;
}
table.casess tr.cases {
	
}
table.casess tr.cases td.case {
	width: 60px;
	height: 60px;
	position: relative;
}
/* Cases */
table.casess div {
	width: 60px;
	height: 60px;
	position: absolute;
	left: 0;
	top: 0;
}
table.casess div.terre {
	background: url(../img/jeu/terre.png);
	z-index: 0;
}
table.casess div.mur {
	background: url(../img/jeu/mur.png);
	z-index: 1;
}
table.casess div.bloc {
	background: url(../img/jeu/bloc.png);
	z-index: 3;
}
table.casess div.socle {
	background: url(../img/jeu/socle.png);
	z-index: 2;
}
table.casess div.perso {
	background: url(../img/jeu/perso.png);
	z-index: 4;
}

/* Buttons */
.btn span{
    vertical-align: center;
}
.btn i{
    font-size: 28px;
    vertical-align: center;
}
